body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #19507ca4;
    color: #000308;
}

header {
    background-color: #000000c6;
    color: #000000;
    padding: 20px;
    text-align: center;
}

header img {
    float: left;
    margin-right: 15px;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #15287d;
}

footer {
    background-color: #040811;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
}

h1, h2, h3 {
    color: #28afed;
}

