body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #110d63;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    text-align: center;
}

h2 {
    color: #444444;
    margin-bottom: 30px;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(211, 12, 12, 0.1);
}

caption {
    caption-side: top;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 15px;
}

th {
    background-color: #952121;
    color: white;
    padding: 12px;
}

td {
    padding: 12px;
    border: 1px solid #ccc;
}

tr:nth-child(even) {
    background-color: #eee;
}

tr:hover {
    background-color: #ddd;
}

footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
}
